In [35]:
#Importando Biblioteca
import pandas as pd

In [36]:
#Leitura de Arquivos
df1 = pd.read_excel("/content/drive/MyDrive/datasets/Aracaju.xlsx")
df2 = pd.read_excel("/content/drive/MyDrive/datasets/Fortaleza.xlsx")
df3 = pd.read_excel("/content/drive/MyDrive/datasets/Natal.xlsx")
df4 = pd.read_excel("/content/drive/MyDrive/datasets/Recife.xlsx")
df5 = pd.read_excel("/content/drive/MyDrive/datasets/Salvador.xlsx")

In [37]:
# juntando todos os arquivos
df = pd.concat([df1,df2,df3,df4,df5])

In [38]:
#Exibindo as 5 primeiras linhas
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [39]:
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [40]:
#Estatistica
df.describe()

           Vendas       LojaID        Qtde
count  894.000000   894.000000  894.000000
mean   122.611801  1074.844519    3.261745
std    166.818723   191.360735    2.096964
min      3.010000   852.000000    1.000000
25%     22.380000   983.000000    2.000000
50%     44.000000  1035.000000    3.000000
75%    160.925000  1037.000000    4.000000
max    886.000000  1523.000000   10.000000

In [9]:
#Tipo de dados de cada coluna
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [11]:
#Alterando o tipo de dado da coluna LojaID
df["LojaID"] = df["LojaID"].astype("object")

In [12]:
#Tipo de dados de cada coluna
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [13]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde
0  Aracaju 2018-01-01  142.00   1520     1
1  Aracaju 2018-01-01   14.21   1522     6
2  Aracaju 2018-01-01   71.55   1520     1
3  Aracaju 2018-01-01    3.01   1521     7
4  Aracaju 2018-01-01   24.51   1522     8

In [25]:
#Consultar valores faltantes/nulos
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [44]:
#Substituindo valores nulos pela media
df["Vendas"].fillna(df["Vendas"].mean(),inplace=True)
#Segunda opcao para trocar por zero
#df["Vendas"].fillna(0,inplace=True)

In [45]:
df["Vendas"].mean()

122.61180089485458

In [46]:
#Ja nao existia valores nulos
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [47]:
df.sample(15)

        Cidade       Data  Vendas  LojaID  Qtde
45   Fortaleza 2019-01-01   39.63    1004     3
36     Aracaju 2018-01-01   37.99    1523     8
41       Natal 2018-05-20  835.00     852     4
5       Recife 2019-01-01   13.59     980     3
134  Fortaleza 2019-03-02  195.18     980     5
16    Salvador 2019-01-01   32.47    1036     2
128     Recife 2019-03-02   38.70     982     4
29      Recife 2019-01-01   10.18     980     8
38     Aracaju 2018-01-01  142.46    1520     1
37      Recife 2019-01-01  136.36     980     7
239      Natal 2019-01-03  161.41    1037     3
35       Natal 2018-01-18  552.00     852     2
99   Fortaleza 2019-01-01    9.01    1002     3
108      Natal 2019-01-02   11.72    1037     1
60    Salvador 2019-01-01   96.01    1034     2

In [48]:
#apagando linhas valores nulos
df.dropna(inplace=True)

In [49]:
#apagando linhas quando nulos em vendas
df.dropna(subset=["Vendas"], inplace=True)

In [52]:
#apagando linhas que estejam todas as colunas vazias
df.dropna(how="all", inplace=True)

In [53]:
#criando coluna de receita
df["Receita"]=df["Vendas"].mul(df["Qtde"])

In [54]:
df.head()

    Cidade       Data  Vendas  LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00    1520     1   142.00
1  Aracaju 2018-01-01   14.21    1522     6    85.26
2  Aracaju 2018-01-01   71.55    1520     1    71.55
3  Aracaju 2018-01-01    3.01    1521     7    21.07
4  Aracaju 2018-01-01   24.51    1522     8   196.08

In [55]:
df["Receita/Vendas"]=df["Receita"]/df["Vendas"]

In [56]:
df["Receita"].max()

3544.0

In [58]:
df["Receita"].min()

3.34

In [59]:
#top 3 na coluna receita
df.nlargest(3,"Receita")

   Cidade       Data  Vendas  LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0     853     4   3544.0             4.0
51  Natal 2018-01-21   859.0     852     4   3436.0             4.0
55  Natal 2019-01-08   859.0     854     4   3436.0             4.0

In [60]:
#top worst 3 na coluna receita
df.nsmallest(3,"Receita")

      Cidade       Data  Vendas  LojaID  Qtde  Receita  Receita/Vendas
118  Aracaju 2018-01-01    3.34    1522     1     3.34             1.0
65    Recife 2019-01-01    4.01     981     1     4.01             1.0
92     Natal 2019-01-02    4.57    1035     1     4.57             1.0

In [62]:
#Agrupamento por cidade
df.groupby("Cidade")["Receita"].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

In [63]:
#ordenar trazendo as 10 maiores receitas
df.sort_values("Receita",ascending=False).head(10)

   Cidade       Data  Vendas  LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0     853     4   3544.0             4.0
55  Natal 2019-01-08   859.0     854     4   3436.0             4.0
51  Natal 2018-01-21   859.0     852     4   3436.0             4.0
30  Natal 2018-10-02   856.0     853     4   3424.0             4.0
41  Natal 2018-05-20   835.0     852     4   3340.0             4.0
38  Natal 2018-02-25   828.0     852     4   3312.0             4.0
10  Natal 2018-10-27   828.0     852     4   3312.0             4.0
69  Natal 2019-03-24   817.0     852     4   3268.0             4.0
62  Natal 2018-02-10   793.0     854     4   3172.0             4.0
52  Natal 2018-04-27   778.0     854     4   3112.0             4.0